@import 'nib';

global-reset();

@import './mixins';
@import './fonts';
@import './reset';

html {
	height: 100%;
	box-sizing: border-box;
	background-image: url('/resources/images/background.svg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	font-weight: 300;

	+desktop() {
		font-size: 16px;
	}

	+mobile() {
		font-size: 12px;
	}
}

body {
	height: 100%;
}

#multiparty-meeting {
	height: 100%;
	width: 100%;

	// Components
	@import './components/Room';
	@import './components/Me';
	@import './components/Peers';
	@import './components/Peer';
	@import './components/PeerView';
	@import './components/ScreenView';
	@import './components/Notifications';
	@import './components/Chat';
	@import './components/Settings';
	@import './components/ToolArea';
	@import './components/ParticipantList';
}

// Hack to detect in JS the current media query
#multiparty-meeting-media-query-detector {
	position: absolute;
	z-index: -1000;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 1px;

	// In desktop let it "visible" so elem.offsetParent returns the parent element
	+desktop() {}

	// In mobile ensure it's not displayed so elem.offsetParent returns null
	+mobile() {
		display: none;
		position: fixed; // Required for old IE
	}
}
