@keyframes fade-in {
	from {
		opacity: 0;
		visibility: hidden;
	}

 	to {
		visibility: visible;
	}
}

@keyframes fade-out {
	from {
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
} 