[data-component='FullScreenView'] {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 200;

	> .controls {
		position: absolute;
		z-index: 210;
		right: 0;
		top: 0;
		display: flex;
		flex-direction:; row;
		justify-content: flex-start;
		align-items: center;
		padding: 0.4vmin;

		> .button {
			flex: 0 0 auto;
			margin: 0.2vmin;
			border-radius: 2px;
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: rgba(#000, 0.5);
			cursor: pointer;
			transition-property: opacity, background-color;
			transition-duration: 0.15s;

			+desktop() {
				width: 5vmin;
				height: 5vmin;
				opacity: 0.85;

				&:hover {
					opacity: 1;
				}
			}

			+mobile() {
				width: 5vmin;
				height: 5vmin;
			}

			&.fullscreen {
				background-image: url('/resources/images/icon_fullscreen_exit_black.svg');
				background-color: rgba(#fff, 0.7);
			}
		}
	}

	.incompatible-video {
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		> p {
			padding: 6px 12px;
			border-radius: 6px;
			user-select: none;
			pointer-events: none;
			font-size: 15px;
			color: rgba(#fff, 0.55);
		}
	}
}
