[data-component='HiddenPeersView'] {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> .info {
		$backgroundTint = #000;
		position: absolute;
		z-index: 10;
		top: 0.6vmin;
		left: 0.6vmin;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	> .view-container {
		width: 12vmin;
    height: 9vmin;
    position: absolute;
    bottom: 3%;
    right: 3%;
		color: #aaa;
		background-image: url('/resources/images/buddy.svg');
		background-color: rgba(#2a4b58, 1);
		background-position: bottom;
		background-size: auto 85%;
		background-repeat: no-repeat;
		text-align: center;
		vertical-align: middle;
		line-height: 1.8vmin;
		font-size: 1.7vmin;
	}
	.view-container>p{
		transform: translate(0%,50%);
	}
	.view-container,
	.view-container::before,
	.view-container::after {
	  /* Add shadow to distinguish sheets from one another */
	  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
	}
	.view-container::before,
  .view-container::after {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-color: #2a4b58;
	}
	/* Second sheet of paper */
	.view-container::before {
	  left: .7vmin;
	  top: .7vmin;
	  z-index: -1;
	}
	/* Third sheet of paper */
	.view-container::after {
	  left: 1.4vmin;
	  top: 1.4vmin;
	  z-index: -2;
	}
}
