[data-component='Logo'] {
	position: absolute;
	width: var(--logo-width);
	height: var(--logo-height);
	top: 1%;
	left: 1%;
	z-index: 20;
	background-position: left;
	background-size: 100%;
	background-repeat: no-repeat;

	+desktop() {
		opacity: 1;
	}

	background-image: var(--logo);
	background-size: contain;
}
