[data-component='Me'] {
	flex: 100 100 auto;
	position: relative;
	flex-direction: row;
	display: flex;

	> .view-container {
		position: relative;
		width: 20vmin;
		height: 15vmin;

		&.webcam {
			order: 2;
		}

		&.screen {
			order: 1;
		}

		> .controls {
			position: absolute;
			z-index: 20;
			right: 0;
			top: 0;
			display: flex;
			flex-direction:; row;
			justify-content: flex-start;
			align-items: center;
			padding: 0.4vmin;
			opacity: 0;
			transition: opacity 0.3s;

			&.visible {
				opacity: 1;
			}

			> .button {
				flex: 0 0 auto;
				margin: 0.2vmin;
				border-radius: 2px;
				background-position: center;
				background-size: 75%;
				background-repeat: no-repeat;
				background-color: rgba(#000, 0.5);
				cursor: pointer;
				opacity: 0;
				transition-property: opacity, background-color;
				transition-duration: 0.15s;

				&.visible {
					opacity: 0.85;
				}

				+desktop() {
					width: 24px;
					height: 24px;

					&:hover {
						opacity: 1;
					}
				}

				+mobile() {
					width: 22px;
					height: 22px;
				}

				&.unsupported {
					pointer-events: none;
				}

				&.disabled {
					pointer-events: none;
					opacity: 0.5;
				}

				&.on {
					background-color: rgba(#fff, 0.7);
				}

				&.mic {
					&.on {
						background-image: url('/resources/images/icon_mic_black_on.svg');
					}

					&.off {
						background-image: url('/resources/images/icon_remote_mic_white_off.svg');
						background-color: rgba(#d42241, 0.7);
					}

					&.unsupported {
						background-image: url('/resources/images/icon_mic_white_unsupported.svg');
					}
				}

				&.webcam {
					&.on {
						background-image: url('/resources/images/icon_webcam_black_on.svg');
					}

					&.off {
						background-image: url('/resources/images/icon_remote_webcam_white_off.svg');
						background-color: rgba(#d42241, 0.7);
					}

					&.unsupported {
						background-image: url('/resources/images/icon_webcam_white_unsupported.svg');
					}
				}

				&.screen {
					&.on {
						background-image: url('/resources/images/share-screen-black.svg');
					}

					&.off {
						background-image: url('/resources/images/no-share-screen-white.svg');
						background-color: rgba(#d42241, 0.7);
					}

					&.unsupported {
						background-image: url('/resources/images/no-share-screen-white.svg');
					}
				}

				&.fullscreen {
					background-image: url('/resources/images/icon_fullscreen_black.svg');
					background-color: rgba(#fff, 0.7);
				}
			}
		}
	}
}
