[data-component='Me'] {
	flex: 100 100 auto;
	position: relative;
	flex-direction: row;
	display: flex;

	> .view-container {
		position: relative;
		width: var(--me-width);
		height: var(--me-height);

		&.webcam {
			order: 2;
		}

		&.screen {
			order: 1;
		}

		> .controls {
			position: absolute;
			z-index: 20;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: row;
			padding: 0.4vmin;
			opacity: 0;
			transition: opacity 0.3s;

			&.visible {
				opacity: 1;
			}

			> .button {
				flex: 0 0 auto;
				margin: 0.2vmin;
				border-radius: 2px;
				background-position: center;
				background-size: 75%;
				background-repeat: no-repeat;
				background-color: var(--media-control-button-color);
				cursor: pointer;
				opacity: 0;
				transition-property: opacity, background-color;
				transition-duration: 0.15s;
				width: var(--media-control-button-size);
				height: var(--media-control-button-size);

				&:hover {
					opacity: 1;
				}

				&.visible {
					opacity: 0.85;
				}

				&.unsupported {
					pointer-events: none;
				}

				&.disabled {
					pointer-events: none;
					background-color: var(--media-control-botton-disabled);
				}

				&.on {
					background-color: var(--media-control-botton-on);
				}

				&.off {
					background-color: var(--media-control-botton-off);
				}

				&.mic {
					&.on {
						background-image: url('/resources/images/icon_mic_black_on.svg');
					}

					&.off {
						background-image: url('/resources/images/icon_remote_mic_white_off.svg');
					}

					&.unsupported {
						background-image: url('/resources/images/icon_mic_white_unsupported.svg');
					}
				}

				&.webcam {
					&.on {
						background-image: url('/resources/images/icon_webcam_black_on.svg');
					}

					&.off {
						background-image: url('/resources/images/icon_remote_webcam_white_off.svg');
					}

					&.unsupported {
						background-image: url('/resources/images/icon_webcam_white_unsupported.svg');
					}
				}
			}
		}
	}
}
