[data-component='ParticipantList'] {
	width: 100%;
	overflow-y: auto;
	padding: 6px;

	> .list {
		box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
		background-color: #fff;

		> .list-header {
			padding: 0.5rem;
			font-weight: bolder;
		}
		> .list-item {
			padding: 0.5rem;
			border-bottom: 1px solid #CBCBCB;
			width: 100%;
			overflow: hidden;
			cursor: pointer;

			&.me {
				cursor: auto;
			}

			&.selected {
				background-color: #377eff;
			}
		}
	}
}

[data-component='ListPeer'] {
	display: flex;

	> .indicators {
		left: 0;
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		transition: opacity 0.3s;

		> .icon {
			flex: 0 0 auto;
			margin: 0.3rem;
			border-radius: 2px;
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: rgba(#000, 0.5);
			transition-property: opacity, background-color;
			transition-duration: 0.15s;

			+desktop() {
				width: 24px;
				height: 24px;
				opacity: 0.85;

				&:hover {
					opacity: 1;
				}
			}

			+mobile() {
				width: 22px;
				height: 22px;
			}

			&.on {
				opacity: 1;
			}

			&.off {
				opacity: 0.2;
			}

			&.raise-hand {
				background-image: url('/resources/images/icon-hand-white.svg');
			}
		}
	}
	> .volume-container {
		float: right;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 1vmin;
		position: relative;
		background-size: 75%;

		> .bar {
			flex: 0 0 auto;
			margin: 0.3rem;
			background-size: 75%;
			background-repeat: no-repeat;
			cursor: pointer;
			transition-property: opacity, background-color;
			width: 3px;
			border-radius: 6px;
			transition-duration: 0.25s;
			position: absolute;
			bottom: 0px;

			&.level0  { height: 0;    background-color: rgba(#000, 0.8); }
			&.level1  { height: 0.2vh;  background-color: rgba(#000, 0.8); }
			&.level2  { height: 0.4vh;  background-color: rgba(#000, 0.8); }
			&.level3  { height: 0.6vh;  background-color: rgba(#000, 0.8); }
			&.level4  { height: 0.8vh;  background-color: rgba(#000, 0.8); }
			&.level5  { height: 1.0vh;  background-color: rgba(#000, 0.8); }
			&.level6  { height: 1.2vh;  background-color: rgba(#000, 0.8); }
			&.level7  { height: 1.4vh;  background-color: rgba(#000, 0.8); }
			&.level8  { height: 1.6vh;  background-color: rgba(#000, 0.8); }
			&.level9  { height: 1.8vh;  background-color: rgba(#000, 0.8); }
			&.level10 { height: 2.0vh;  background-color: rgba(#000, 0.8); }
		}
	}
	> .controls {
		float: right;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		> .button {
			flex: 0 0 auto;
			margin: 0.3rem;
			border-radius: 2px;
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: rgba(#000, 0.5);
			cursor: pointer;
			transition-property: opacity, background-color;
			transition-duration: 0.15s;

			+desktop() {
				width: 24px;
				height: 24px;
				opacity: 0.85;

				&:hover {
					opacity: 1;
				}
			}

			+mobile() {
				width: 22px;
				height: 22px;
			}

			&.unsupported {
				pointer-events: none;
			}

			&.disabled {
				pointer-events: none;
				opacity: 0.5;
			}

			&.on {
				background-color: rgba(#fff, 0.7);
			}

			&.mic {
				&.on {
					background-image: url('/resources/images/icon_mic_black_on.svg');
				}

				&.off {
					background-image: url('/resources/images/icon_remote_mic_white_off.svg');
					background-color: rgba(#d42241, 0.7);
				}

				&.unsupported {
					background-image: url('/resources/images/icon_mic_white_unsupported.svg');
				}
			}

			&.webcam {
				&.on {
					background-image: url('/resources/images/icon_webcam_black_on.svg');
				}

				&.off {
					background-image: url('/resources/images/icon_remote_webcam_white_off.svg');
					background-color: rgba(#d42241, 0.7);
				}

				&.unsupported {
					background-image: url('/resources/images/icon_webcam_white_unsupported.svg');
				}
			}

			&.screen {
				&.on {
					background-image: url('/resources/images/share-screen-black.svg');
				}

				&.off {
					background-image: url('/resources/images/no-share-screen-white.svg');
					background-color: rgba(#d42241, 0.7);
				}

				&.unsupported {
					background-image: url('/resources/images/no-share-screen-white.svg');
				}
			}
		}
	}

	> .avatar {
    border-radius: 50%;
    height: 2rem;
	}

	> .peer-info {
    font-size: 1rem;
    border: none;
    display: flex;
    padding-left: 0.5rem;
    flex-grow: 1;
    align-items: center;
	}
}
