[data-component='RemoteVideo'] {
	position: relative;
	flex: 0 0 auto;
	transition-duration: 0.25s;

	TransitionAppear(500ms);

	&.fullsize {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		height: 100vh;
		width: 100%;

		> .info {
			justify-content: flex-end;
			right: 4px;
		}
	}

	+desktop() {
		height: 350px;
		width: 400px;
		margin: 4px;
		border: 4px solid rgba(#fff, 0.2);

		&.fullsize {
			border-width: 0;
		}
	}

	+mobile() {
		height: 50vh;
		width: 100%;
		border: 4px solid rgba(#fff, 0.2);
		border-bottom-width: 0;

		&:last-child {
			border-bottom-width: 4px;
		}

		&.fullsize {
			border-width: 0;
		}
	}

	> .controls {
		pointer-events: none;
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		transition-property: opacity;
		transition-duration: 0.25s;
		opacity: 0.8;

		> .control {
			pointer-events: auto;
			flex: 0 0 auto;
			margin: 4px !important;
			margin-left: 0 !important;
			height: 32px !important;
			width: 32px !important;
			padding: 0 !important;
			background-color: rgba(#000, 0.25) !important;
			border-radius: 100%;
			opacity: 0.8;

			&:hover {
				background-color: rgba(#000, 0.85) !important;
				opacity: 1;
			}
		}
	}

	> .info {
		position: absolute;
		z-index: 10;
		bottom: 4px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;

		+desktop() {
			justify-content: center;
		}

		+mobile() {
			justify-content: flex-end;
			right: 4px;
		}

		> .peer-id {
			padding: 6px 16px;
			font-size: 16px;
			color: rgba(#fff, 0.75);
			background: rgba(#000, 0.6);
			border-radius: 4px;
		}
	}
}
