[data-component='Room'] {
	AppearFadeIn(300ms);

	> .room-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: width 0.3s;

		> .state {
			position: fixed;
			z-index: 100;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border-radius: 25px;
			background-color: rgba(#fff, 0.2);

			+desktop() {
				top: 20px;
				left: 20px;
				width: 124px;
			}

			+mobile() {
				top: 10px;
				left: 10px;
				width: 110px;
			}

			> .icon {
				flex: 0 0 auto;
				border-radius: 100%;

				+desktop() {
					margin: 5px;
					margin-right: 0;
					height: 20px;
					width: 20px;
				}

				+mobile() {
					margin: 4px;
					margin-right: 0;
					height: 16px;
					width: 16px;
				}

				&.new, &.closed {
					background-color: rgba(#aaa, 0.5);
				}

				&.connecting {
					animation: Room-info-state-connecting .75s infinite linear;
				}

				&.connected {
					background-color: rgba(#30bd18, 0.75);

					+mobile() {
						display: none;
					}
				}
			}

			> .text {
				flex: 100 0 auto;
				user-select: none;
				pointer-events: none;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Roboto';
				font-weight: 400;
				color: rgba(#fff, 0.75);

				+desktop() {
					font-size: 12px;
				}

				+mobile() {
					font-size: 10px;
				}

				&.connected {
					+mobile() {
						display: none;
					}
				}
			}
		}

		> .room-link-wrapper {
			pointer-events: none;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;

			> .room-link {
				width: auto;
				background-color: rgba(#fff, 0.75);
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				box-shadow: 0px 3px 12px 2px rgba(#111, 0.4);

				> a.link {
					display: block;;
					user-select: none;
					pointer-events: auto;
					color: #104758;
					font-weight: 400;
					cursor: pointer;
					text-decoration: none;
					transition-property: opacity;
					transition-duration: 0.25s;
					opacity: 0.8;

					+desktop() {
						padding: 10px 20px;
						font-size: 16px;
					}

					+mobile() {
						padding: 6px 10px;
						font-size: 14px;
					}

					&:hover {
						opacity: 1;
						text-decoration: underline;
					}
				}
			}
		}

		> .me-container {
			position: fixed;
			z-index: 100;
			overflow: hidden;
			box-shadow: 0px 5px 12px 2px rgba(#111, 0.5);
			transition-property: border-color;
			transition-duration: 0.15s;

			&.active-speaker {
				border-color: #fff;
			}

			+desktop() {
				height: 200px;
				width: 235px;
				bottom: 20px;
				left: 20px;
				border: 1px solid rgba(#fff, 0.15);
			}

			+mobile() {
				height: 175px;
				width: 150px;
				bottom: 10px;
				left: 10px;
				border: 1px solid rgba(#fff, 0.25);
			}
		}

		> .sidebar {
			position: fixed;
			z-index: 101;
			top: calc(50% - 60px);
			height: 120px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			+desktop() {
				left: 20px;
				width: 36px;
			}

			+mobile() {
				left: 10px;
				width: 32px;
			}

			> .button {
				flex: 0 0 auto;
				margin: 4px 0;
				background-position: center;
				background-size: 75%;
				background-repeat: no-repeat;
				background-color: rgba(#fff, 0.3);
				cursor: pointer;
				transition-property: opacity, background-color;
				transition-duration: 0.15s;
				border-radius: 100%;

				+desktop() {
					height: 36px;
					width: 36px;
				}

				+mobile() {
					height: 32px;
					width: 32px;
				}

				&.on {
					background-color: rgba(#fff, 0.7);
				}

				&.disabled {
					pointer-events: none;
					opacity: 0.5;
				}

				&.login {
					&.off {
						background-image: url('/resources/images/icon_login_white.svg');
					}
				}

				&.settings {
					&.off {
						background-image: url('/resources/images/icon_settings_white.svg');
					}

					&.on {
						background-image: url('/resources/images/icon_settings_black.svg');
					}
				}

				&.screen {
					&.on {
						background-image: url('/resources/images/no-share-screen-black.svg');
					}

					&.off {
						background-image: url('/resources/images/share-screen-white.svg');
					}

					&.unsupported {
						background-image: url('/resources/images/no-share-screen-white.svg');
						background-color: rgba(#d42241, 0.7);
					}

					&.need-extension {
						background-image: url('/resources/images/share-screen-extension.svg');
					}
				}
				&.raise-hand {
					background-image: url('/resources/images/icon-hand-white.svg');

					&.on {
						background-image: url('/resources/images/icon-hand-black.svg');
					}
				}

				&.leave-meeting {
					background-image: url('/resources/images/leave-meeting.svg');
				}
			}
		}
	}

	> .toolarea-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		width: 20%;
		height: 100%;
		background-color: #FFF;
		transition: width 0.3s;
	}
}

.Dropdown-root {
	position: relative;
	padding: 0.3vmin;
}

.Dropdown-control {
	position: relative;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	color: #333;
	cursor: default;
	outline: none;
	padding: 8px 52px 8px 10px;
	transition: all 200ms ease;
}

.Dropdown-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: ' ';
	display: block;
	height: 0;
	margin-top: -ceil(2.5);
	position: absolute;
	right: 10px;
	top: 14px;
	width: 0
}

.is-open .Dropdown-arrow {
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}

.Dropdown-menu {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
	padding: 8px 10px;
	color: rgba(51, 51, 51, 1.2);
	font-weight: bold;
	text-transform: capitalize;
}

.Dropdown-option {
	box-sizing: border-box;
	color: rgba(51, 51, 51, 0.8);
	cursor: pointer;
	display: block;
	padding: 8px 10px;
}

.Dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
	background-color: #f2f9fc;
	color: #333;
}

.Dropdown-option.is-selected {
	background-color: #f2f9fc;
	color: #333;
}

.Dropdown-noresults {
	box-sizing: border-box;
	color: #ccc;
	cursor: default;
	display: block;
	padding: 8px 10px;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--selected {
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	box-shadow: 0 0 5px hsl(208, 99%, 50%);
	border-color: hsl(208, 99%, 50%);
	outline: none;
}

.react-tabs__tab:focus:after {
	content: "";
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}

@keyframes Room-info-state-connecting {
	50% { background-color: rgba(orange, 0.75); }
}
