[data-component='Room'] {
	position: relative;
	height: 100%;
	width: 100%;

	AppearFadeIn(300ms);

	> .state {
		position: fixed;
		z-index: 100;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		background-color: rgba(#fff, 0.2);

		+desktop() {
			top: 20px;
			left: 20px;
			width: 124px;
		}

		+mobile() {
			top: 10px;
			left: 10px;
			width: 110px;
		}

		> .icon {
			flex: 0 0 auto;
			border-radius: 100%;

			+desktop() {
				margin: 5px;
				margin-right: 0;
				height: 20px;
				width: 20px;
			}

			+mobile() {
				margin: 4px;
				margin-right: 0;
				height: 16px;
				width: 16px;
			}

			&.new, &.closed {
				background-color: rgba(#aaa, 0.5);
			}

			&.connecting {
				animation: Room-info-state-connecting .75s infinite linear;
			}

			&.connected {
				background-color: rgba(#30bd18, 0.75);

				+mobile() {
					display: none;
				}
			}
		}

		> .text {
			flex: 100 0 auto;
			user-select: none;
			pointer-events: none;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Roboto';
			font-weight: 400;
			color: rgba(#fff, 0.75);

			+desktop() {
				font-size: 12px;
			}

			+mobile() {
				font-size: 10px;
			}

			&.connected {
				+mobile() {
					display: none;
				}
			}
		}
	}

	> .room-link-wrapper {
		pointer-events: none;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;

		> .room-link {
			width: auto;
			background-color: rgba(#fff, 0.75);
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			box-shadow: 0px 3px 12px 2px rgba(#111, 0.4);

			> a.link {
				display: block;;
				user-select: none;
				pointer-events: auto;
				color: #104758;
				font-weight: 400;
				cursor: pointer;
				text-decoration: none;
				transition-property: opacity;
				transition-duration: 0.25s;
				opacity: 0.8;

				+desktop() {
					padding: 10px 20px;
					font-size: 16px;
				}

				+mobile() {
					padding: 6px 10px;
					font-size: 14px;
				}

				&:hover {
					opacity: 1;
					text-decoration: underline;
				}
			}
		}
	}

	> .me-container {
		position: fixed;
		z-index: 100;
		overflow: hidden;
		box-shadow: 0px 5px 12px 2px rgba(#111, 0.5);
		transition-property: border-color;
		transition-duration: 0.15s;

		&.active-speaker {
			border-color: #fff;
		}

		+desktop() {
			height: 200px;
			width: 235px;
			bottom: 20px;
			left: 20px;
			border: 1px solid rgba(#fff, 0.15);
		}

		+mobile() {
			height: 175px;
			width: 150px;
			bottom: 10px;
			left: 10px;
			border: 1px solid rgba(#fff, 0.25);
		}
	}

	> .sidebar {
		position: fixed;
		z-index: 101;
		top: calc(50% - 60px);
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		+desktop() {
			left: 20px;
			width: 36px;
		}

		+mobile() {
			left: 10px;
			width: 32px;
		}

		> .button {
			flex: 0 0 auto;
			margin: 4px 0;
			background-position: center;
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: rgba(#fff, 0.15);
			cursor: pointer;
			transition-property: opacity, background-color;
			transition-duration: 0.15s;
			border-radius: 100%;

			+desktop() {
				height: 36px;
				width: 36px;
			}

			+mobile() {
				height: 32px;
				width: 32px;
			}

			&.on {
				background-color: rgba(#fff, 0.7);
			}

			&.disabled {
				pointer-events: none;
				opacity: 0.5;
			}

			&.audio-only {
				background-image: url('/resources/images/icon_audio_only_white.svg');

				&.on {
					background-image: url('/resources/images/icon_audio_only_black.svg');
				}
			}

			&.restart-ice {
				background-image: url('/resources/images/icon_restart_ice_white.svg');

				&.on {
					background-image: url('/resources/images/icon_restart_ice__black.svg');
				}
			}
		}
	}
}

@keyframes Room-info-state-connecting {
	50% { background-color: rgba(orange, 0.75); }
}
