[data-component='ScreenView'] {
	position: relative;
	flex: 100 100 auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--peer-bg-color);
	background-image: var(--peer-empty-avatar);
	background-position: bottom;
	background-size: auto 85%;
	background-repeat: no-repeat;

	> .info {
		position: absolute;
		z-index: 10;
		top: 0.6vmin;
		left: 0.6vmin;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> .media {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;

			> .box {
				padding: 0.4vmin;
				border-radius: 2px;
				background-color: rgba(#000, 0.25);

				> p {
					user-select: none;
					pointer-events: none;
					margin-bottom: 2px;
					color: rgba(#fff, 0.7);
					font-size: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	> video {
		flex: 100 100 auto;
		height: 100%;
		width: 100%;
		object-fit: contain;
		user-select: none;
		transition-property: opacity;
		transition-duration: .15s;
		background-color: var(--peer-video-bg-color);

		&.is-me {
			transform: scaleX(-1);
		}

		&.hidden {
			opacity: 0;
			transition-duration: 0s;
		}

		&.loading {
			filter: blur(5px);
		}
	}
}
