[data-component='Settings'] {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 19999;
	background-color: rgba(000, 000, 000, 0.5);

	AppearFadeIn(500ms);

	> .dialog {
		position: absolute;
		width: 40vmin;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 3px 12px 2px rgba(#111, 0.4);
		padding: 1vmin;

		> .header {
			> span {
				font-size: 2vmin;
				font-weight: 400;
			}
		}

		> .settings {
		}

		> .footer {
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			> .button {
				flex: 0 0 auto;
				margin: 1vmin;
				background-color: rgba(#000, 0.8);
				color: #fff;
				cursor: pointer;
				border-radius: 4px;
				padding: 0.5vmin;
			}
		}
	}
}
