[data-component='Sidebar'] {
	position: fixed;
	z-index: 500;
	top: 50%;
	transform: translate(0%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	+desktop() {
		left: 1.0em;
		width: 2.6em;
	}

	+mobile() {
		left: 0.5em;
		width: 2.6em;
	}

	> .button {
		flex: 0 0 auto;
		margin: 4px 0;
		background-position: center;
		background-size: 75%;
		background-repeat: no-repeat;
		background-color: var(--circle-button-color);
		cursor: pointer;
		transition-property: opacity, background-color;
		transition-duration: 0.15s;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--circle-button-size);
		width: var(--circle-button-size);

		&.on {
			background-color: var(--circle-button-toggled-color);
		}

		&.unsupported {
			background-color: var(--circle-button-unsupported-color);
		}

		&.disabled {
			pointer-events: none;
			background-color: var(--circle-button-diabled-color);
		}

		&.login {
			&.off {
				background-image: url('/resources/images/icon_login_white.svg');
			}
		}

		&.logout > img {
			height: 65%;
			max-width: 65%;
			border-radius: 50%;
		}

		&.settings {
			&.off {
				background-image: url('/resources/images/icon_settings_white.svg');
			}

			&.on {
				background-image: url('/resources/images/icon_settings_black.svg');
			}
		}

		&.fullscreen {
			background-image: url('/resources/images/icon_fullscreen_white.svg');

			&.on {
				background-image: url('/resources/images/icon_fullscreen_exit_white.svg');
			}
		}

		&.screen {
			&.on {
				background-image: url('/resources/images/no-share-screen-black.svg');
			}

			&.off {
				background-image: url('/resources/images/share-screen-white.svg');
			}

			&.unsupported {
				background-image: url('/resources/images/no-share-screen-white.svg');
			}

			&.need-extension {
				background-image: url('/resources/images/share-screen-extension.svg');
			}
		}

		&.raise-hand {
			background-image: url('/resources/images/icon-hand-white.svg');

			&.on {
				background-image: url('/resources/images/icon-hand-black.svg');
			}
		}

		&.leave-meeting {
			background-image: url('/resources/images/cancel.svg');
		}
	}
}
