[data-component='Video'] {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	> .resolution {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		padding: 4px 8px;
		border-bottom-right-radius: 5px;
		background: rgba(#000, 0.5);
		transition-property: background;
		transition-duration: 0.25s;

		&.clickable {
			cursor: pointer;

			&:hover {
				background: rgba(#000, 0.85);
			}
		}

		> p {
			font-size: 11px;
			color: rgba(#fff, 0.75);
		}
	}

	> .volume {
		position: absolute;
		z-index: 5;
		top: 0
		bottom: 0;
		right: 2px;
		width: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		> .bar {
			width: 6px;
			border-radius: 6px;
			background: rgba(yellow, 0.65);
			transition-property: height background-color;
			transition-duration: 0.25s;

			&.level0  { height: 0;    background-color: rgba(yellow, 0.65); }
			&.level1  { height: 10%;  background-color: rgba(yellow, 0.65); }
			&.level2  { height: 20%;  background-color: rgba(yellow, 0.65); }
			&.level3  { height: 30%;  background-color: rgba(yellow, 0.65); }
			&.level4  { height: 40%;  background-color: rgba(orange, 0.65); }
			&.level5  { height: 50%;  background-color: rgba(orange, 0.65); }
			&.level6  { height: 60%;  background-color: rgba(red, 0.65);    }
			&.level7  { height: 70%;  background-color: rgba(red, 0.65);    }
			&.level8  { height: 80%;  background-color: rgba(#000, 0.65);   }
			&.level9  { height: 90%;  background-color: rgba(#000, 0.65);   }
			&.level10 { height: 100%; background-color: rgba(#000, 0.65);   }
		}
	}

	> video {
		height: 100%;
		width: 100%;
		object-fit: cover;
		background-color: rgba(#041918, 0.65);
		background-image: url('/resources/images/buddy.svg');
		background-position: bottom;
		background-size: auto 85%;
		background-repeat: no-repeat;

		&.mirror {
			transform: scaleX(-1);
		}
	}
}
